*,html,body
{
	margin:0;
	padding:0;
}



header
{
	height: 100px;
	line-height:100px;
	position: fixed;
	z-index: 1;
	width: 100%;
}

.secondary
{
	background-color: deepskyblue;
	box-shadow: 0px 0px 17px 0px;
	transition: all 0.5s ease-in ;

}

ul 
{
	list-style: none;
}

ul li 
{
	display: inline-block;
}

header nav 
{
	float:right;
}
.logo img
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 170px;
  height: 100px;
  
}

header nav ul li a 

{	
	padding-right: 30px;
	font-weight: bold;
	color: black;
	transition: all 0.5s ease-in ;
	
}

header nav ul li a:hover 
{
	text-decoration: none;
	color: orange;
}





.img1
{
		background-image:url(nnaeyl/images/flag.gif);
		background-size: 100% 100%;
		

}

.slider, .slider ul, .slider ul li
{
	height: 800px;
	width: 100%;
	color: black;
	text-align: center;
	
}


.slider h2 
{
	font-weight: bold;
	margin-top: 230px;
}

.slider span 
{
	color: orange;
}


.slider a 
{
	padding: 10px 40px;
	margin-right: 10px;
}


.slider a.btn-half
{
		background-color: orange;
		color:white;

}


.slider a.btn-full
{
	background-color: deepskyblue;
	color:white;
}

.slider a.btn-half:hover
{
	background-color: gray;
}
.slider a.btn-full:hover
{
	background-color: gray;
}

.img2
{
	background-image:url(nnaeyl/FinalProject/tea.jpg);
	background-size: 100% 100%;
	
}
.img3
{
	background-image:url(../nnaeyl/images/wood2.JPG);
	background-size: 100% 100%;
	
}

.slider
{
	font-size: 40px;
	margin-right: 20px;
}

.slider p 
{
	font-size: 20px;
	margin-right: 20px;
}


.intro-area 
{
	position: relative;
	padding: 40px 0px;
	text-align: center;
	color:black;
}

.sub-heading
{
	position:relative;
	margin-bottom: 75px;
}

.sub-heading:before
{
	content:"";
	position: absolute;
	top:100%;
	left: 50%;
	margin-left: -12%;
	width: 6%;
	height: 2px;
	background-color: deepskyblue;
	z-index: 1;
	-webkit-transition: 0.3s ease ;
	-moz-transition: 0.3s ease ;
	-ms-transition: 0.3s ease ;
	-o-transition: 0.3s ease ;
	transition: 0.3s ease ;



}

.sub-heading:hover:before
{
	width:24%;
}


.sub-heading:after
{
	content:"";
	position: absolute;
	top:100%;
	left: 50%;

	margin-left: -12%;
	width: 24%;
	height: 2px;
	background-color: black;
	
}

.sub-heading p
{
	color: #818181;
	display: inline-block;
	padding: 0px 0px 20px;
	position: relative;
	line-height: 24px;
	letter-spacing: 0.025em;
}

.intro-block
{
	position: relative;
	background: #f7f7f7;
	margin: 50px 0px 0px;
	text-align:center;
	padding: 70px 25px 40px;
}

.intro-block:hover, .intro-block.active
{
	background: deepskyblue;
}

.intro-block:hover
{
	transition: .6s ease;
	-webkit-transition: .6s ease;
	-moz-transition: .6s ease;
	-ms-transition: .6s ease;
}

.intro-block .intro-icon
{
	position: absolute;
	top: -30px;
	left: 50%;
	margin-left: -30px;
}


.intro-block .fa 
{
	width: 63px;
	height: 63px;
	font-size: 30px;
	color: white;
	line-height: 2;
	background: deepskyblue;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 10px #cceef9;
}

.intro-block:hover .fa, .intro-block.active .fa
{
	background-color: white;
	color: deepskyblue;
	box-shadow: 0px 0px 0px 10px black;

	
}

.intro-block h3
{
	font-size: 18px;
	color: purple;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom:15px;
}

.intro-block p 
{
	color: #505050;
}

.intro-block:hover h3, .intro-block:hover p 

{
	color:#f6f6f6;
}

.feature-area
{
	background-image:url(..//images/statu.JPG);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.title h2, p 
{
	color:white;
}

.single-feature h3
{
	color:maroon;
}

.single-feature 
{
	position:relative;
	width:335px;
	float:left;
	padding:30px 0;
	text-align: center;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	transition: .3s esae;
	-webkit-transition: .3s esae;
	-moz-transition: .3s esae;
	-0-transition: .3s esae;
	-ms-transition: .3s esae;
}

.feature-block:after
{
	content:"";
	display: table;
}

.feature-block:after
{
	clear:both;
}

.featured-icon
{
	display: inline-block;
	margin-bottom: 20px;
}


.single-feature i.fab 
{
	border: 2px solid #fff;
	padding: 18px;
	border-radius: 30%;
	font-size: 50px;
	color: black;
	width: 80px;
	height: 80px;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
}


.single-feature:hover .featured-icon .fab
{
	border:2px solid #00a7dd;
	background: white;
	color: red;
}


.single-feature:nth-of-type(even)
{
	border-right: none;
}

.single-feature:nth-last-child(2)
{
	border-bottom: none;
}

.single-feature:last-child
{
	border-bottom: none;
}



.feature-area
{
	padding:50px 0;
}

.feature-mockup 
{
	bottom: -190px;
	position: relative;
}


.title .sub-heading p 
{
	color:white;
	
}


.more-feature-area .title h2
{
	color:black;
}


.more-feature-area .title .sub-heading p
{
	color: black;
}

.more-feature-area 
{
	padding: 50px 0;
}

.feature-list ul
{
	list-style: none;
}

.feature-list li
{
position: relative;
margin-bottom: 30px;
padding-left:80px;
}

.feature-list li:hover i
{
	color:white;
	background-color: #666699;
	transition: .5s ease;
	-webkit-transition: .5s ease;
	-moz-transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	
	
}

.feature-icon
{
	position: absolute;
	left:0;
}

.feature-icon i

{
	width: 63px;
	height: 63px;
	text-align: center;
	font-size: 30px;
	background-color: white;
	color: deepskyblue;
	border-radius: 20%;
	border: 4px solid deepskyblue;
	line-height:59px;
}

.feature-details h3
{
	color: deepskyblue;
	font-weight: 700;
	text-transform:uppercase;
}


.feature-details p 
{
	color: orange;
	font-weight: 200;
}

.more-feature-area img
{
	margin-left: -100px;
	height: 800;
	width: 800;
}



.senf
{
	background-image:url(..//images/mountain.JPG);
	background-size: cover;
	background-position: center;
	background-attachment:fixed;
	padding-top: 120px;
	padding-bottom: 120px;
	color: white;
	margin-top: -100px;
	

}

.senf .carousel-indicators
{
	bottom: -60px;
	
}

.senf .sub-heading p
{
	color:white;
}


.carousel-inner img 
{
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 2px solid deepskyblue;
	padding: 5px;
	
}

.senf .carousel-indicators li .active
{
	background-color: red;
	
	
}

.team-area h2
{
	padding: 50px 0px;
	color:black;
	padding-bottom:0px;
	
	
}





.team-area .sub-heading p
{
	color:black;
	margin-bottom: 10.px;
}

.team-man img
{
	height:100px;
	width:100px;
	border: 5px solid black;
	border-radius: 50%;
	overflow: hidden;

	
}




.team-description p 
{
	
	color:black;
	position: relative;
	background: #f7f7f7;
	margin: 50px 0px 0px;
	text-align:center;
	padding: 10px 10px 10px;
	margin-top:-1px;
}


.team-description:hover p 
{
	background: deepskyblue;
}













